body {
    font-family: sans-serif;
    background-color: rgb(237, 246, 245);
    padding: 5px;
    margin: 5px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}
footer {
    position: fixed;
  
    bottom: 0;
    width: 100%;
background-color: rgb(55, 57, 64);
text-align: center;
}

.header {
background-color: rgb(102, 164, 211); 
padding: 10px;
  border: 5px ;
  margin: 1px;

}
.nav{
    
    padding: 5px;
    border: 5px;
    margin: 5px;
    text-align: center;
}